/* Some generic styles of frames for the game */
.gameFrame {
  background: #bfc98a;
  border: 10px solid #a86b2d;
  border-radius: 32px;
  box-shadow: 12px 16px 32px 0 rgba(80, 40, 10, 0.35);
  padding: 32px;
  position: relative;
}

/* A thinner frame for the game */
.gameFrameThin {
  background: #bfc98a;
  border: 4px solid #a86b2d;
  border-radius: 32px;
  box-shadow: 12px 16px 32px 0 rgba(80, 40, 10, 0.35);
  padding: 32px;
  position: relative;
} 

